.container {
    width: 70%;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 15px;
    border-radius: 5px;

    p {
        margin-top: 5px;
    }

    ul {
        margin-left: 15px;
    }
}