/* Untuk mengedit berkas CSS ini gunakan pasangan SCSS-nya */

@use 'variabel';

@mixin grid_settings($column-settings, $row-settings, $area-settings) {
    display: grid;
    grid-template-columns: $column-settings;
    grid-template-rows: $row-settings;
    grid-template-areas: $area-settings;
}

html, body {
    width: 100%;
    height: 100%;
}

section {
    padding: 0;
    text-align: start;
}

.container {
    width: 100vw;
    height: 100vh;
    @include grid_settings(
        15% 85%, 50px auto, ("topbar topbar" "left-side main")
    );
}

.topbar {
    grid-area: topbar;
    background-color: variabel.$am-grey;
    position: sticky;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: variabel.$am-white;
    }

    a {
        color: variabel.$am-white;
        text-decoration: none;
        font-size: 13px;
    }

    #title {
        font-size: inherit;
    }
}

.left-side {
    grid-area: left-side;
    overflow: auto;
    max-width: 210px;

    ul {
        list-style: none;
        padding: 12px;
        border: 1px solid black;
        background-color: variabel.$am-grey;
        color: white;
    }

    li {
        margin: 5px 0px;
    }

    .child {
        margin-left: 20px;
        list-style: square;

        a {
            font-size: 15px;
            text-decoration: none;
            color: rgb(255, 255, 255);

            &:hover {
                color: hsl(0, 0%, 60%);
                font-family: monospace;
            }

            &:focus {
                color: hsl(0, 0%, 39%);
            }
        }
    }
}

.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

@media only screen and (max-width: 800px) {
    .container {
        @include grid_settings(
            auto, 80px auto 210px, ("topbar" "main" "left-side")
        );
    }

    .topbar {
        display: flex;
        flex-direction: column;

        #title {
            font-size: 14px;
        }
    }

    .left-side {
        max-width: none;
    }
}