/* Untuk mengedit berkas CSS ini gunakan pasangan SCSS-nya */

@mixin am-lists {
    margin-left: 20px;
    padding: 5px;

    li {
        margin: 8px 0px;
    }
}

body {
    padding: 20px;
    overflow-x: hidden;

    p {
        text-align: justify;
    }
}

ul {
    list-style: square;
    @include am-lists;
}

ol {
    @include am-lists;
}

textarea {
    display: none;
}

.prompt {
    margin-top: 4px;
}

.preliminary {
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    body {
        overflow-x: initial;
    }
}