/* Dihasilkan dari SASS/SCSS */

$fonts: 'IBM Plex Sans', Helvetica, sans-serif;
$am-grey: #444647;
$am-white: rgb(235, 235, 235);

* {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: black;
    /* border: 1px solid black; */
}

body {
    background-color: white;
    font-family: $fonts;
}

section {
    padding: 50px;
    text-align: justify;
}


.button-appearance {
    background-color: $am-grey;
    color: $am-white;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;

    &:hover {
        background-color: $am-white;
        color: $am-grey;
        border: 1px solid $am-grey;
    }
}

.divider {
    width: 0;
    height: 70%;
    display: inline;
    border-right: 2px solid black;
}

.smooth-transition {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
}


#welcome {
    height: 100vh;
    display: grid;
    grid-template-columns: 58% auto 41%;
    align-items: center;
}

#left {
    text-align: right;
    padding: 35px;
    width: 100%;
}

#pp {
    border-radius: 25px;
    width: 120px;
    height: 120px;
}

#name {
    font-size: 45px;
}

#myactivity {
    margin-top: 18px;

    p {
        margin-bottom: 10px;
        font-weight: bold;
    }

    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    i {
        margin: 0 6px;
        transform: scale(1);

        &:hover {
            margin: 0 20px;
            transform: scale(1.35);
        }
    }
}

#right {
    width: 100%;
}

#more-info {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#linktree {
    margin: 14px 0;

    li {
        list-style: none;
        padding: 12px 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*  --------------------------------------- */

@media only screen and (max-width: 570px) {
    section {
        padding: 35px;
    }

    #welcome {
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    #left {
        text-align: center;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}