/* Untuk mengedit berkas CSS ini gunakan pasangan SCSS-nya */
/* Dirutkan menurut hirarki di HTML (kecuali selector *) */
* {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

:root {
    --fonts: 'IBM Plex Sans', Helvetica, sans-serif;
    --am-grey: #444647;
    --am-white: #F8F9FA;
}

body {
    background-color: var(--am-white);
    font-family: var(--fonts);
    min-width: 300px;
}

section {
    padding: 50px;
    text-align: justify;
}

.container {
    align-items: center;
    display: grid;
    grid-template-columns: 58% auto 41%;
    height: 100vh;
}

.left {
    padding: 35px;
    text-align: right;
    width: 100%;
}

.divider {
    border-right: 2px solid black;
    display: inline;
    height: 70%;
    width: 0;
}

.right {
    width: 100%;
}

.button-skin {
    background-color: var(--am-grey);
    border-radius: 15px;
    color: var(--am-white);
    font-weight: 700;
    height: 45px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
        background-color: var(--am-white);
        border: 1px solid var(--am-grey);
        color: var(--am-grey);
    }
}

.smooth-transition {
    transition-duration: 650ms;
    transition-timing-function: ease-out;
}

.profile-picture {
    border-radius: 25px;
    width: 120px;
    height: 120px;
}

.name {
    font-size: 40px;
}

.intro {
    margin: 12px 0px 12px 12px 12px;
    padding-left: 25%;
}

.myactivity {
    margin-top: 18px;

    p {
        margin-bottom: 10px;
        font-weight: bold;
    }

    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    i {
        margin: 0 6px;
        transform: scale(1);
        color: black;

        &:hover {
            margin: 0 20px;
            transform: scale(1.35);
        }
    }
}

.more-info {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.microsite {
    margin: 10px 0;

    li {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 12px 35px;
    }
}

/* --------------------------------------- */
@media only screen and (max-width: 600px) {
    section {
        padding: 35px;
    }

    .welcome {
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .intro {
        margin: 7px 0 0 0;
        padding: unset;
    }

    .divider {
        display: none;
    }

    .left {
        text-align: center;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}